@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F8F9FA;
}

.btn, footer .footer-content .tags .btn-primary, .testimonials .few_words-section .few_words-text .btn-primary, .business-section .business-text .btn-primary {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
}

.container, header {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

header {
  background-color: #fff;
  margin-top: 0rem;
}
header .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
header .row {
  display: flex;
  justify-content: space-between;
  color: #6c757d !important;
  font-size: 1rem;
  align-items: baseline;
  padding: 0.8rem;
}
header .row i {
  margin-right: 10px;
}
header .row .input-group .form-control {
  border: none;
  border-right: 1px solid #ced4da;
  height: 28px;
  padding-left: 18px;
  width: 98px;
}
header .row .input-group .form-control:first-child {
  border-right: 1px solid #ced4da;
}
header .row .input-group .btn-secondary {
  color: #6c757d !important;
  background-color: #fff;
  border: none;
  border-right: 1px solid #ced4da;
}

input:placeholder-shown {
  font-style: italic;
}

.services {
  display: flex;
  justify-content: space-between;
  margin-top: 1.3rem;
}
.services .jm-services {
  background-color: #fff;
  text-align: center;
  padding: 1.8rem;
  font-size: 2rem;
}
.services .features {
  background-color: #fff;
  text-align: center;
  display: flex;
}
.services .features div {
  display: inline;
  margin-left: 0.4rem;
  padding: 2rem 2rem;
  border-right: 1px solid #dee2e6;
}
.services .features div:last-child {
  border-right: none;
}
.services .features div i {
  font-size: 1.7rem;
}

.business-section {
  display: flex;
  margin-top: 1.3rem;
}
.business-section .business-text {
  background-color: #fff;
  padding: 2.3rem;
}
.business-section .business-text h2 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.business-section .business-text p {
  color: #6c757d !important;
  line-height: 1.4rem;
  text-align: justify;
}
.business-section .business-text .btn-primary {
  float: right;
  margin-top: 2rem;
  background-color: #0979FA;
  color: #fff;
  border-color: #0979FA;
}

.cards {
  display: flex;
  text-align: center;
  color: #fff;
  margin-top: 1.3rem;
}
.cards h2 {
  text-transform: uppercase;
}
.cards i {
  font-size: 4.3rem;
  margin: 1.7rem 0;
}
.cards .card1 {
  background-color: #0979FA;
  padding: 1rem;
  margin-right: 3rem;
}
.cards .card2 {
  background-color: #A0AF46;
  padding: 1rem;
  margin-right: 3rem;
}
.cards .card3 {
  background-color: #E48F62;
  padding: 1rem;
}

.projects {
  background-color: #fff;
  padding: 2rem;
  margin-top: 1.3rem;
}
.projects h4 {
  color: #0979FA;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.projects .card-deck {
  display: flex;
}
.projects .card-deck .card {
  position: relative;
  width: 100%;
  margin-right: 2rem;
  height: 169px;
  background-image: url("https://content.thriveglobal.com/wp-content/uploads/2020/02/employee_behavior.jpeg");
  background-size: cover;
  border: none;
  border-radius: 0%;
}
.projects .card-deck .card .card-footer {
  position: absolute;
  color: #fff;
  bottom: 0;
  width: 100%;
}
.projects .card-deck .card .card-footer span {
  background-color: #0979FA;
  padding: 10px;
}
.projects .card-deck .card .card-footer p {
  font-size: 0.9rem;
  padding: 1rem;
  text-align: center;
  background-color: #595049;
  opacity: 0.9;
}
.projects .card-deck .card:last-child {
  margin-right: 0rem;
}

.testimonials {
  display: flex;
  margin-top: 1.3rem;
}
.testimonials .few_words-section {
  display: flex;
  background-color: #fff;
  margin-right: 4rem;
  line-height: 1.5rem;
}
.testimonials .few_words-section .few_words-text {
  margin-left: 2.3rem;
  padding: 2rem 0rem;
  margin-right: 1.5rem;
}
.testimonials .few_words-section .few_words-text h4 {
  text-transform: uppercase;
  color: #0979FA;
  margin-bottom: 1rem;
}
.testimonials .few_words-section .few_words-text p {
  margin-bottom: 1rem;
}
.testimonials .few_words-section .few_words-text ul {
  list-style: none;
}
.testimonials .few_words-section .few_words-text ul > li:before {
  content: "";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: 1em;
  width: 1.3em;
  color: #558295;
}
.testimonials .few_words-section .few_words-text .btn-primary {
  float: right;
  margin-top: 1.5rem;
  background-color: #0979FA;
  color: #fff;
  border-color: #0979FA;
}
.testimonials .feedback {
  background-color: #fff;
  text-align: center;
  padding-bottom: 2rem;
  margin-top: 1.3rem;
}
.testimonials .feedback .rounded-circle {
  width: 100px;
  height: 100px;
  margin-top: -47px;
  border-radius: 50%;
}
.testimonials .feedback h4 {
  margin: 0.5rem;
}
.testimonials .feedback p {
  color: #6c757d !important;
  padding: 1rem;
}

footer {
  background-color: #E7E7E7;
  margin-top: 1.3rem;
}
footer h4 {
  color: #6c757d !important;
  text-transform: uppercase;
}
footer .footer-content {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #dee2e6;
  padding: 2rem 0;
}
footer .footer-content .articles ul {
  list-style: none;
  color: #0979FA;
  margin-top: 1rem;
  margin-left: 1.6rem;
}
footer .footer-content .articles ul > li:before {
  content: "";
  font-family: FontAwesome;
  display: inline-block;
  width: 1.3em;
  color: #9B9B9B;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}
footer .footer-content .tags .btn-primary {
  margin-top: 1rem;
  background-color: #0979FA;
  color: #fff;
  border-color: #0979FA;
}
footer .footer-content .news h5 {
  color: #0979FA;
  margin-top: 1rem;
}
footer .footer-content .news p {
  text-align: justify;
  color: #6c757d !important;
  font-size: 0.9rem;
}
footer .footer-content .connected div {
  margin-top: 1rem;
}
footer .footer-content .connected i {
  font-size: 3rem;
}
footer .footer-content .connected .fb {
  color: #0979FA;
}
footer .footer-content .connected .google {
  color: #f32f2f;
}
footer .footer-content .connected .twitter {
  color: #2ea3ca;
}
footer .footer-content .connected .pin {
  color: #f32f2f;
}
footer .footer-content .connected .linkedin {
  color: #2ea3ca;
}
footer .rights {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}
footer .rights span {
  color: #0979FA;
}

@media only screen and (max-width: 786px) {
  .services {
    flex-direction: column;
  }
  .services .features {
    justify-content: center;
  }
  .services .features div {
    padding: 0.5rem 0.5em;
  }

  .business-section {
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
  }
  .cards .card1, .cards .card2 {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .projects .card-deck {
    display: block;
  }
  .projects .card-deck .card {
    margin-bottom: 1rem;
    height: 257px;
  }

  .testimonials {
    flex-direction: column;
  }
  .testimonials .few_words-section {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-content .news {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
