@import 'variables';

@mixin bordered($color, $width) {
    border-right: $width solid $color;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: $bg-light;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
   
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
}

header{
    @extend .container;
    background-color: $bg-white;
    margin-top: 0rem;

    .container-fluid{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .row{
        display:flex;
        justify-content: space-between;
        color: $text-muted;
        font-size: 1rem;
        align-items: baseline;
        padding:0.8rem;
        i{
            margin-right:10px;
        }
        .input-group{
           
            .form-control{
                border: none;
                @include bordered($border, 1px);  // Call mixin with two values
                height: 28px;
                padding-left: 18px;
                width: 98px;
                &:first-child{
                    @include bordered($border, 1px);  
                }
            }
            .btn-secondary{
                color:$text-muted;
                background-color: $bg-white;
                border: none;
                border-right:1px solid $border;
            }
        }
    }
}

input:placeholder-shown {
    font-style: italic;
}


.services{
    display: flex;
    justify-content: space-between;
    margin-top:1.3rem;
    .jm-services{
        background-color: $bg-white;
        text-align: center;
        padding: 1.8rem;
        font-size: 2rem;
    }
    .features{
        background-color: $bg-white;
        text-align: center;
        display: flex;
      
        div {
            display: inline;
            margin-left:0.4rem;
            padding:2rem 2rem;
            border-right: 1px solid #dee2e6;
            &:last-child{
                border-right:none;
            }
            i{
                font-size:1.7rem;
            }
            
        }
    }

}

.business-section{
    display: flex;
    margin-top:1.3rem;
    .business-text{
        background-color: $bg-white;
        padding: 2.3rem;
        h2{
            text-transform: uppercase;
            margin-bottom:0.5rem;

        }
        p{
            color: #6c757d !important;
            line-height: 1.4rem;
            text-align: justify;
            
        }
        .btn-primary{
            @extend .btn;
            float: right;
            margin-top: 2rem;
            background-color: $primary-color;
            color:$bg-white;
            border-color: $primary-color;
        }
    }
}

.cards{
    display: flex;
    text-align: center;
    color:$bg-white;
    margin-top:1.3rem;
    h2{
        text-transform: uppercase;
    }
    i{
        font-size:4.3rem;
        margin:1.7rem 0;
    }
   
 
    .card1{
        background-color: $primary-color;
        padding:1rem;
        margin-right: 3rem;
    }
    .card2{
        background-color: $green-color;
        padding:1rem;
        margin-right: 3rem;
    }
    .card3{
        background-color: $orange-color;
        padding:1rem;
     
    }
}

.projects{
    background-color: $bg-white;
    padding:2rem;
    margin-top:1.3rem;
    h4{
        color:$primary-color;
        text-transform: uppercase;
        margin-bottom:1.2rem;
    }
    .card-deck{
        display: flex;
        .card{
            position:relative;
            width:100%;
            margin-right:2rem;
            height: 169px;
            background-image: url("https://content.thriveglobal.com/wp-content/uploads/2020/02/employee_behavior.jpeg");
            background-size: cover;
            border: none;
            border-radius: 0%;
         
            .card-footer{
                position: absolute;
               
                color:$bg-white;
                bottom:0;
                width:100%;
                span{
                    background-color: $primary-color;
                    padding:10px;
                }
                p{
                    font-size: 0.9rem;
                    padding: 1rem;
                    text-align: center;
                    background-color: #595049;
                    opacity:0.9;
                }
            }
            
           
            &:last-child{
                margin-right:0rem;
            }
        }
       
        
    }
}

.testimonials{
    display:flex;
    margin-top:1.3rem;
    .few_words-section{
        display:flex;
        background-color: $bg-white;
        margin-right: 4rem;
        line-height: 1.5rem;
       
        .few_words-text{
            margin-left: 2.3rem;
            padding: 2rem 0rem;
            margin-right: 1.5rem;
          
            h4{
                text-transform: uppercase;
                color:$primary-color;
                margin-bottom:1rem;
            }
            p{
                margin-bottom:1rem;
            }
            ul{
                list-style: none;
            }
            ul>li:before{
                content: "\f152"; /* FontAwesome Unicode */
                font-family: FontAwesome;
                display: inline-block;
                margin-left: 1em; 
                width: 1.3em; 
                color:#558295;  
            }
            .btn-primary{
                @extend .btn;
                float: right;
                margin-top:1.5rem;
                background-color: $primary-color;
                color:$bg-white;
                border-color: $primary-color;
            }
        }
    }

    .feedback{
        background-color: $bg-white;
        text-align: center;
        padding-bottom: 2rem;
        margin-top:1.3rem;
        .rounded-circle{
            width: 100px;
            height: 100px;
            margin-top: -47px;
            border-radius: 50%;
        }
        h4{
            margin: 0.5rem;
        }
        p{
            color:$text-muted;
            padding:1rem;
        }

    }
   
}

footer{
    background-color: $bg-footer;
    margin-top:1.3rem;
    h4{
        color:$text-muted;
        text-transform: uppercase;
    }
    .footer-content{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #dee2e6;
        padding: 2rem 0;
        .articles{
            ul{
                list-style: none;
                color:$primary-color;
                margin-top:1rem;
                margin-left: 1.6rem;
            }
            ul>li:before{
                content: "\f054";
                font-family: FontAwesome;
                display: inline-block;
                width: 1.3em; 
                color:#9B9B9B;
                margin-bottom: 0.5rem;
                font-size: 0.8rem;
            }
        }
        .tags{
            .btn-primary{
                @extend .btn;
                margin-top:1rem;
                background-color: $primary-color;
                color:$bg-white;
                border-color: $primary-color;
            }
        }

        .news{
            h5{
                color:$primary-color;
                margin-top:1rem;
            }
            p{
                text-align: justify;
                color:$text-muted;
                font-size:0.9rem;
            }
        }

        .connected{
            div{
                margin-top:1rem;
            }
            i{
                font-size: 3rem;
            }
            .fb{
                color:$primary-color;
            }
            .google{
                color:$icon-red;
            }
            .twitter{
                color:$icon-blue;
            }
            .pin{
                color:$icon-red;
            }
            .linkedin{
                color:$icon-blue;
            }
        }
    }

    .rights{
        display: flex;
        justify-content: space-between;
        padding-bottom: 1.2rem;
        span{
            color:$primary-color;
        }
    }

}

@media only screen and (max-width:786px){
    // header{
    //     .row{
    //         // flex-direction: column;
    //     }
    // }
    .services{
        flex-direction: column;
        .features{
            justify-content: center;
            div{
                padding: 0.5rem 0.5em;

            }
        }
       
    }

    .business-section{
        flex-direction: column;
    }

    .cards{
        flex-direction: column;
        .card1, .card2{
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
    .projects{
        .card-deck{
            display:block;
            .card{
                margin-bottom: 1rem;
                height: 257px;
            }
        }
    }

    .testimonials{
        flex-direction: column;
        .few_words-section{
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
    .footer-content{
        flex-direction: column;
        align-items: center;
        .news{
            text-align: center;
        }
    }

}


